<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="RabbitMqConnection" connectionString="amqp://admin:admin@localhost:5672/Demo" />
	</connectionStrings>
	
	<appSettings>
		<add key="BasketCheckoutQueue" value="basketcheckout-queue" />
		
	</appSettings>
	
</configuration>

